{% extends "polls/base.html" %}

{% block title %}
    {{ question.question_text }}
{% endblock %}

{% block content %}
    {{ question.question_description }}
    <br><br><br>
    <h3><i>Polls open: {{ question.polls_open }}
    <br><br>Polls close: {{ question.polls_close }}</i></h3>
    <br>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <div class="options">
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        </div>
        <br><br>
        <input type="submit" value="Vote">
    </form>
    {% if error_message %}<strong><br>{{ error_message }}<br></strong>{% endif %}
    <br>
    <a href="{% url 'polls:index' %}">Return to all polls.</a>
{% endblock %}
