{% extends "polls/base.html" %}

{% block title %}
    Worcester College JCR<br>Elections and Referenda
{% endblock %}

{% block content %}
    {% if latest_question_list %}
        <h2>Welcome, {{ user.username }}! <br> Polls currently open:</h2>

        {% for question in latest_question_list %}
            <h3><li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li></h3>
        {% endfor %}
    {% else %}
        No polls are available.
    {% endif %}
{% endblock %}
