{% extends "polls/base.html" %}

{% block title %}
    Worcester College JCR<br>Elections and Referenda
{% endblock %}

{% block content %}
    {% if current_question_list %}
        <h2>Welcome, {{ user.username }}! Currently polling:</h2>

        {% for question in current_question_list %}
            <h3><li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a> (polls close {{ question.polls_close }})</li></h3>
        {% endfor %}
    {% else %}
        There are no Elections or Referenda currently polling.
    {% endif %}
{% endblock %}
